@import "showCartItems.css"; 
@import "show_item.css";

.navbar {
    height: 125px;
    background-color: #1a4d1a;
    color: #f7c93e;
}

.nav-link {
    color: #f5f5f5;
}

.btn {
    background-color: #f7c93e;
}

.cartLogo {
    padding-top: 10px;
}

.hello {
    height: 50px;
    width: 50px;
}

.footer-colour {
    background-color: #f7c93e;
    height: 310px;
}

.foot-colour {
    color: #1a4d1a;
}

.para {
    margin: 30px 300px;
}


.image_margin {
    margin: 30px 30px;
}

.ok {
    height: 500px;

}
.home{
    padding-left: 100px;
    padding-right: 20px;
    color: #f5f5f5;
    font-family: "Times New Roman", Times, serif;
}
.log{
    padding-left: 10px;
    padding-right: 10px;
}
.body{
    background-color: #cfdecf;
    font-family: "Times New Roman", Times, serif;
}
.home_wraper{
    text-decoration: none;
}
.item_category{
    width: 300px;
    height:300px;
}
.heading{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.slide{
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}